<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmc.mentor.findmycoach">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To access image from Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To complete message transfer between GCM to FMC-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- To receive message from GCM-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- To allow only GCM server to send message to only this application-->
    <permission
        android:name="com.fmc.mentor.findmycoach.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.fmc.mentor.findmycoach.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.findmycoach.mentor.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.findmycoach.mentor.activity.SignUpActivity"
            android:label="@string/title_activity_signup"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/facebook"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmycoach.mentor.activity.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmycoach.mentor.activity.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmycoach.mentor.activity.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.findmycoach.mentor.activity.ChooseImageActivity"
            android:label="@string/title_activity_choose_image"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmycoach.mentor.activity.ChatWidgetActivity"
            android:label="@string/title_activity_chat_widget" />
        <activity
            android:name="com.findmycoach.mentor.activity.Settings"
            android:label="@string/action_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmycoach.mentor.activity.SetScheduleActivity"
            android:label="@string/set_schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmycoach.mentor.activity.ValidatePhoneActivity"
            android:label="@string/title_validate_phone"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmycoach.mentor.activity.AddNewSlotActivity"
            android:label="@string/add_new_slot" />

        <receiver
            android:name="com.findmycoach.mentor.push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.fmc.mentor.findmycoach" />
            </intent-filter>

        </receiver>

        <service android:name="com.findmycoach.mentor.push.GcmFmcService" />

    </application>

</manifest>
